body {
  margin: 0px;
  font-family: Helvetica,
  BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.currency-manager {
    margin-left: 30px;
    margin-right: 30px;
}
.data-table {
    width: 100%;
    /*border: 5px solid #dddddd;*/
    border-collapse: collapse;
}


th, td {
    border: 1px solid #dddddd;
    padding: 20px;
    text-align: center;
}

.secondary-cols {
    background-color: grey;
    color: white;
    font-family: 'Roboto', sans-serif;
    width: 10%;
    font-size: 20px;
    /*border-left: 1px solid #ddd;*/
    /*border-right: 1px solid #ddd;*/
}

.primary-cols {
    background-color: grey;
    color: white;
    font-family: 'Roboto', sans-serif;
    width: 40%;
    font-size: 20px;
    /*border-left: 1px solid #ddd;*/
    /*border-right: 1px solid #ddd;*/
}

.primary-children {
    width: 20%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: darkgray;
    /*border-left: 1px solid #ddd;*/
    /*border-right: 1px solid #ddd;*/
}

.secondary-children {
    background-color: darkgray;
}



.header-div {
    background-color: grey;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.head {
    text-align: right;
    color: white;
    display: inline-block;
    font-size: 80px;
    padding-left: 300px;
    padding-right: 300px;
}

.bitcoin-img {
    height: 100px;
    width: auto;
    margin: 50px
}

.img-left {
    float: left;
}

.img-right {
    float: right;
}

.temp-class {
    display: inline-block;
}


/*@media all and (max-width: 500px) {*/
/*    .head{*/
/*        display: none;*/
/*    }*/
/*    .img-right {*/
/*        display: none;*/
/*    }*/
/*    .header-div {*/
/*        width: 100%;*/
/*    }*/
/*    .input-form {*/
/*        margin: 30px;*/
/*    }*/
/*    .img-left {*/
/*        display: block;*/
/*        margin: 30px auto;*/
/*    }*/
/*}*/


.input-form {
    text-align: center;
    font-family: 'Roboto', "American Typewriter", 'sans-serif';
    font-size: 20px;
}

.form-field {
    margin: 40px;
}

.footer-time {
    font-size: 15px;
}
